<div id="page-wrapper" class="fadeInRight animated marg220">
  <div class="page-t">
    <div class="page-nav">
      <a  href="javascript:;">救援管理</a>
      <!--<a  href="javascript:;">用户管理</a>-->
      <a  routerLinkActive="active" routerLink="/rescuecount">救助统计</a>
      <a  routerLinkActive="active" >救助报告</a>
    </div>
    <router-outlet></router-outlet>
    <div class="search-box col-sm-12 mt10 mb10">
      <button (click)="goBack()" class="btn btn-sm btn-primary fn-right" >返回</button>
    </div>

  </div>
  <div class="J_mainContent" id="content-main">
    <div class="wrapper wrapper-content">
      <!--<track-map></track-map>-->
      <div class="xt-list">

        <h4 style="text-align:center;">
          <span style="color:#333333;font-family:微软雅黑;font-size:24px;line-height:2;">救助报告&nbsp;</span>
        </h4>
        <p>
          <span style="color:#333333;font-family:微软雅黑;font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span style="font-size:12px;">救助人：王二 &nbsp; &nbsp;2017年7月3日</span></span>
        </p>
        <p style="margin-top: 15px;padding: 0 15px">
        <span style="color:#333333;font-family:微软雅黑;font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;
          6月28日上午，我接到APP报警：在雁塔区青杠林31路车站有一位高龄老人摔倒了。 接警后，我立行动救援。很快，一个孤独的身
          影印入我的眼帘，满身泥泞的身体在路边瑟瑟发抖，穿着拖鞋的老人眼神迷茫而疲惫， 面对我的询问，老人有些语无伦次。连忙上前
          检查老人是否摔伤，将老人小心地扶上车。经过耐心询问， 得知老婆婆名叫刘淑心，今年90岁了，自称住在艾叶镇塘边村，她找不到回
          家的路了。通过仔细翻查报警记录，终于核实到了老婆婆的相关信息。 原来老婆婆名叫刘淑勋，家住贡井区筱溪街，报警记录里记载了
          其儿子的电话，立即与刘婆婆的儿子取得了联系，儿子接走了她。</span>
        </p>
        <p>
          <br />
        </p>


           <!--<h4>救助报告</h4>-->
           <!--<p>-->
             <!--6月28日上午，我接到APP报警：在雁塔区青杠林31路车站有一位高龄老人摔倒了。-->
             <!--接警后，我立行动救援。很快，一个孤独的身影印入我的眼帘，满身泥泞的身体在路边瑟瑟发抖，穿着拖鞋的老人眼神迷茫而疲惫，-->
             <!--面对我的询问，老人有些语无伦次。连忙上前检查老人是否摔伤，将老人小心地扶上车。经过耐心询问，-->
             <!--得知老婆婆名叫刘淑心，今年90岁了，自称住在艾叶镇塘边村，她找不到回家的路了。通过仔细翻查报警记录，终于核实到了老婆婆的相关信息。-->
             <!--原来老婆婆名叫刘淑勋，家住贡井区筱溪街，报警记录里记载了其儿子的电话，立即与刘婆婆的儿子取得了联系，儿子接走了她-->

           <!--</p>-->


      </div>
    </div>
  </div>
</div>


