<div id="page-wrapper" class="animated marg220">
  <div class="page-t">
    <div class="page-nav">
      <a  href="javascript:;">救援管理</a>
      <!--<a  href="javascript:;">用户管理</a>-->
      <a  routerLinkActive="active" routerLink="/rescuecount">救助统计</a>
      <a  routerLinkActive="active" >救助报告</a>
    </div>
    <router-outlet></router-outlet>
    <div class="search-box col-sm-12 mt10 mb10">
      <button (click)="goBack()" class="btn btn-sm btn-primary fn-right" >返回</button>
    </div>

  </div>
  <div class="J_mainContent" id="content-main">
    <div class="wrapper wrapper-content">
      <!--<track-map></track-map>-->
      <div class="xt-list">
        <table class="table table-striped" >
          <thead>
          <tr>
            <th>
              序号
            </th>
            <th>
              志愿者
            </th>
            <th>
              救助人数
            </th>
            <th>
              救援大队
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rescue of rescues; let i = index;"  (click)="onSelect(rescue)">
            <td>{{i+1}}</td>
            <td >{{rescue.volunteerName}}</td>
            <td>{{rescue.rescueNumber}}</td>
            <td >{{rescue.rescueTeam}}</td>
          </tr>
          </tbody>

        </table>
      </div>
      <!--分页组件-->
      <div class="col-md-12 text-right margin-bottom mt25" *ngIf="rescues">
        <a class="pull-left text-sm wordHei">总计 {{totalNum}} 条，第 {{curPage}} / {{totalPage}} 页</a>

        <button class="btn btn-default next"  (click)="changePage(pageList[curPage-3],curPage-2)"
                [disabled]="curPage==1">上一页</button>
        <button class="btn btn-default"   [ngClass]="x.isActive?'btn-primary':'btn-oprate'"
                (click)="changePage(x,x.pageNum)"  *ngFor="let x of pageList;let i = index;">
          {{x.pageNum}}
        </button>
        <button class="btn btn-default next"  (click)="changePage(pageList[curPage-1],curPage)"
                [disabled]="curPage==totalPage">下一页</button>
      </div>
      <div class="col-md-12 text-center text-sm text-dark-gray mt10" *ngIf="isEmpty">
        没有查询到数据
      </div>

    </div>
  </div>
</div>


