<div id="page-wrapper" class="fadeInRight animated marg220">
  <div class="page-t">
    <div class="page-nav">
      <a  href="javascript:;">救援管理</a>
      <!--<a  href="javascript:;">用户管理</a>-->
      <a  routerLinkActive="active">救助统计</a>
    </div>
    <router-outlet></router-outlet>
    <div class="search-box">
    <span class="xt-search">
               <!--<input #searchBox type="text" id="search-box"  class="form-box"-->
                      <!--placeholder="请输入名字">-->
           <!--<button class="btn-red btns" (click)="search2(searchBox.value)" type="submit">搜索</button>-->
  <!--<span>-->
          <!--<span *ngFor="let menu of menus | async"-->
                <!--(click)="gotoDetail(menu)" class="search-result"  > {{menu.menuTitle}}</span>-->
        <!--</span>-->
   </span>

      <!--<button (click)="tjmenu=true; clicked=true;tjmenuform.reset();" class="btn-blue btns" type="button">+添加用户</button>-->
    </div>

  </div>
  <div class="J_mainContent" id="content-main">
    <div class="wrapper wrapper-content">
      <!--<track-map></track-map>-->
      <div class="xt-list">
        <table class="table table-striped" >
          <thead>
          <tr>
            <th>
              序号
            </th>
            <th>
             救援大队
            </th>
            <th>
              报警数量
            </th>
            <th>
              救助人数
            </th>
            <th>
              详情
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rescue of rescues; let i = index;"  (click)="onSelect(rescue)">
            <td>{{i+1}}</td>
            <td >{{rescue.rescueTeam}}</td>
            <td>{{rescue.alarmNumber}}</td>
            <td >{{rescue.rescueNumber}}</td>
            <td>&nbsp;&nbsp;
              <a  [routerLink]="['detail', rescue.rescueTeamId]" >查看</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
          </tr>
          </tbody>

        </table>
      </div>
      <!--分页组件-->
      <div class="col-md-12 text-right margin-bottom mt25" *ngIf="rescues">
        <a class="pull-left text-sm wordHei">总计 {{totalNum}} 条，第 {{curPage}} / {{totalPage}} 页</a>

        <button class="btn btn-default next"  (click)="changePage(pageList[curPage-3],curPage-2)"
                [disabled]="curPage==1">上一页</button>
        <button class="btn btn-default"  [disabled]="curPage==x.pageNum" [ngClass]="x.isActive?'btn-primary':'btn-oprate'"
                [hidden]="x.pageNum<curPage-1&&curPage>3&&x.pageNum!=1"
                (click)="changePage(x,i)"  *ngFor="let x of pageList;let i = index;">
          {{x.pageNum-(curPage+1)==2&&x.pageNum>5&&x.pageNum!=pageList.length||
          curPage-x.pageNum==1&&x.pageNum!=1&&curPage>3||x.pageNum==6&&curPage<=3?'...':x.pageNum}}
        </button>
        <button class="btn btn-default next"  (click)="changePage(pageList[curPage-1],curPage)"
                [disabled]="curPage==pageList.length">下一页</button>
      </div>
      <div class="col-md-12 text-center text-sm text-dark-gray mt10" *ngIf="isEmpty">
        没有查询到数据
      </div>

    </div>
  </div>
</div>


