table{
  border-top: 1px solid #e4eaec;
}
.table>thead>tr {
  background:none !important;

}
table tr th,table tr td{
  border-left: 1px solid #e4eaec;
}
table th{
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #676a6c;
}
