<div id="page-wrapper" class="fadeInRight animated marg220">
<div class="page-t">
  <div class="page-nav">
    <a  href="javascript:;">设备管理</a>
    <a  routerLinkActive="active" >设备信息</a>
  </div>
  <router-outlet></router-outlet>
  <div class="search-box">
    <span class="xt-search">
               <input #searchBox type="text" id="search-box"  class="form-box"
                      placeholder="请输入救援大队名称">
           <button class="btn-red btns" (click)="search2(searchBox.value)" type="submit">搜索</button>
  <!--<span>-->
          <!--<span *ngFor="let menu of menus | async"-->
                <!--(click)="gotoDetail(menu)" class="search-result"  > {{menu.menuTitle}}</span>-->
        <!--</span>-->
   </span>

    <!--<button (click)="tjmenu=true; clicked=true;tjmenuform.reset();" class="btn-blue btns" type="button">+添加设备</button>-->
  </div>

</div>
<div class="J_mainContent" id="content-main">
  <div class="wrapper wrapper-content">
    <!--<track-map></track-map>-->
    <div class="xt-list">
      <table class="table table-striped">
        <thead>
        <tr>
          <th >
            序号
          </th>
          <th>
            设备使用者
          </th>
          <th>
            设备报警时间
          </th>
          <th>
            报警地点
          </th>
          <th>
            报警原因
          </th>
          <th>
            救援人
          </th>
          <th>
            接单时间
          </th>
          <th>
            所属救援大队
          </th>
          <th>
            救援结果
          </th>
          <th>
            备注
          </th>
          <th>
            图片和视频
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rescue of rescuePapers; let i = index;"  (click)="onSelect(rescue)">
          <td>{{rescue.taskId}}</td>
          <td >{{rescue.sosName}}</td>
          <td >{{rescue.sosTime}}</td>
          <td>{{rescue.sosAddress}}</td>
          <td>{{rescue.sosReason}}</td>
          <td>{{rescue.voName}}</td>
          <td>{{rescue.receiveTime}}</td>
          <td>{{rescue.rescueTeam}}</td>
          <td>{{rescue.dealResult}}</td>
          <td>{{rescue.remark}}</td>
          <td>&nbsp;&nbsp;
            <a  [routerLink]="['detail', rescue.taskId]" >查看</a>&nbsp;&nbsp;&nbsp;&nbsp;

          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
</div>

