<div id="page-wrapper" class="fadeInRight animated">
<div class="page-t">
  <div class="page-nav">
    <a  href="javascript:;">系统管理</a>
    <a  href="javascript:;">用户管理</a>
    <a  routerLinkActive="active" routerLink="/users">用户列表</a>
  </div>
  <router-outlet></router-outlet>
  <div class="search-box">
    <span class="xt-search">
               <input #searchBox type="text" id="search-box"  class="form-box" (keyup)="search(searchBox.value)"
                      placeholder="请输入用户名">
           <button class="btn-red btns" (click)="search2(searchBox.value)" type="submit">搜索</button>
  <span>
          <span *ngFor="let menu of menus | async"
                (click)="gotoDetail(menu)" class="search-result"  > {{menu.menuTitle}}</span>
        </span>
   </span>

    <button (click)="tjmenu=true; clicked=true;tjmenuform.reset();" class="btn-blue btns" type="button">+添加用户</button>
  </div>

</div>
<div class="J_mainContent" id="content-main">
  <div class="wrapper wrapper-content">
    <!--<track-map></track-map>-->
    <div class="xt-list">


      <table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr>
          <th >
            序号
          </th>
          <th>
            <mfDefaultSorter by="userName">用户名</mfDefaultSorter>
          </th>
          <th>
            <mfDefaultSorter by="address">地址</mfDefaultSorter>
          </th>
          <!--<th>-->
          <!--<mfDefaultSorter by="locationType">设备类型</mfDefaultSorter>-->
          <!--</th>-->
          <th>
            联系方式
          </th>
          <th>
            角色
          </th>
          <th>
            性别
          </th>
          <th>
            在线时间点
          </th>
          <th>
            操作
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of mf.data; let i = index;" [class.selected]="user === selectedUser" (click)="onSelect(user)">
          <td>{{i+1}}</td>
          <!--<td>{{electricity.locationType}}</td>-->
          <td >{{user.userName}}</td>
          <td >{{user.address}}</td>
          <td>{{user.phoneNumber}}</td>
          <td>{{user.role}}</td>
          <td>{{user.sex}}</td>
          <td>{{user.lastModifyTime}}</td>

          <td>&nbsp;&nbsp;
            <a  (click)="deletemenu=true; clicked=true;user === selectedUser" >修改</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a (click)="delete(user.userId); $event.stopPropagation()">删除</a>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
          </td>
        </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
</div>
<div [hidden]="!clicked"  class="mask"></div>


<div [hidden]="!tjmenu"  class="operate menu">
  <form class="operate-form"  #tjmenuform="ngForm" (ngSubmit)="add(userId.value,userName.value,password.value, role.value,
        menuSelected.value,address.value,phoneNumber.value, remarks.value);">
    <div class="operate-title">添加菜单<span (click)="clicked=false; tjmenu=false;" class="fa fa-close"></span></div>
    <div class="operate-content">
      <div class="operate-item fn-clear">
        <label>用户Id:</label>
        <div class="operate-group">
          <input required  type="number"  id="userId" name="userId" class="form-box"  [(ngModel)]="User.userId" #userId="ngModel">
          <p [hidden]="userId.pristine || userId.valid"  class="text-danger">用户Id不能为空</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>用户名:</label>
        <div class="operate-group">
          <input required  type="text"  id="userName" name="userName" class="form-box"  [(ngModel)]="User.userName" #userName="ngModel">
          <p [hidden]="userName.pristine || userName.valid"  class="text-danger">用户名不能为空</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>密码:</label>
        <div class="operate-group">
          <input required  type="text"  id="password" name="password" class="form-box" [rangeLength]="[2, 10]" [(ngModel)]="User.password" #password="ngModel">
          <p [hidden]="password.pristine || password.valid"  class="text-danger">密码不能为空</p>
          <p class="text-danger sbd" *ngIf="password.errors?.rangeLength">输入字符长度在2-10之间</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label >角色：</label>
        <div class="operate-group">
          <select #role id="role" required name="role"  class="form-select">
            <option value="" selected = "selected">请选择</option>
            <option *ngFor="let role of parentNames" [value]="role">{{role}}</option>
          </select>
          <p style="display: none" class="text-danger must3">
            角色为必选项
          </p>
          <!--<p *ngIf="tjmenuform.submitted && !menuParentName.valid && !menuParentName.value"  class="text-danger">父菜单为必选项</p>-->
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label class="unmust">性别:</label>
        <div class="operate-radio">
          <!--<input #userSex [(ngModel)]="mySex"  name="sexs" type="radio" value="男"  required> 男-->
          <!--<input #userSex [(ngModel)]="mySex"  name="sexs" type="radio" value="女"  required> 女-->
          <input #menuSelected  required   name="open"  type="radio" class="form-box" value="男">  男
          <input #menuSelected  required   name="open"  type="radio" class="form-box" value="女">  女
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>电话:</label>
        <div class="operate-group">
          <input required  type="text"  id="phoneNumber" name="phoneNumber" class="form-box" [rangeLength]="[8, 13]" [(ngModel)]="User.phoneNumber" #phoneNumber="ngModel">
          <p [hidden]="phoneNumber.pristine || phoneNumber.valid"  class="text-danger">电话不能为空</p>
        </div>
      </div>

      <div class="operate-item fn-clear">
        <label>地址:</label>
        <div class="operate-group">
          <input required   type="text"  id="address" name="address" class="form-box"  [(ngModel)]="User.address" #address="ngModel">
          <!--<p [hidden]="coding.pristine || coding.valid"  class="text-danger sbd">编号不能为空</p>-->
        </div>
      </div>


      <div class="operate-item fn-clear">
        <label class="unmust">备注:</label>
        <div class="operate-group">
          <textarea #remarks  name="remarks" id="remarks" class="form-box"></textarea>
        </div>
      </div>
      <div class="operate-btn">
        <button type="submit"    [disabled]="!tjmenuform.form.valid" class="btns btn-blue">保存</button>
        <button (click)="tjmenu=false; clicked=false;" type="reset" class="btns btn-gray">取消</button>
      </div>
    </div>
  </form>
</div>

<div [hidden]="!deletemenu"  class="operate menu"  *ngIf="selectedUser">
  <form class="operate-form"  #deletemenuform="ngForm" (ngSubmit)="save();">
    <div class="operate-title">修改用户<span (click)="clicked=false; deletemenu=false;" class="fa fa-close"></span></div>
    <div class="operate-content">
      <div class="operate-item fn-clear">
        <label>用户名:</label>
        <div class="operate-group">
          <input required  type="text"  id="userName2" name="userName2" class="form-box"  [(ngModel)]="selectedUser.userName" #userName2="ngModel">
          <p [hidden]="userName2.pristine || userName2.valid"  class="text-danger">用户名不能为空</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>密码:</label>
        <div class="operate-group">
          <input required  type="text"  id="password2" name="password2" class="form-box" [rangeLength]="[2, 10]" [(ngModel)]="selectedUser.password" #password2="ngModel">
          <p [hidden]="password2.pristine || password2.valid"  class="text-danger">密码不能为空</p>
          <p class="text-danger sbd" *ngIf="password2.errors?.rangeLength">输入字符长度在2-10之间</p>
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label >角色：</label>
        <div class="operate-group">
          <select #role2 [(ngModel)]="selectedUser.role" id="role2" required name="role2"  class="form-select">
            <option value="" selected = "selected">请选择</option>
            <option *ngFor="let role of parentNames" [value]="role">{{role}}</option>
          </select>
          <p style="display: none" class="text-danger must3">
            角色为必选项
          </p>
          <!--<p *ngIf="tjmenuform.submitted && !menuParentName.valid && !menuParentName.value"  class="text-danger">父菜单为必选项</p>-->
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label class="unmust">性别:</label>
        <div class="operate-radio">
          <!--<input #userSex [(ngModel)]="mySex"  name="sexs" type="radio" value="男"  required> 男-->
          <!--<input #userSex [(ngModel)]="mySex"  name="sexs" type="radio" value="女"  required> 女-->
          <input #menuSelected2  checked="selected" [(ngModel)]="selectedUser.sex" required   name="selected"  type="radio" class="form-box" value="男">  男
          <input #menuSelected2  checked="selected" [(ngModel)]="selectedUser.sex" required   name="selected"  type="radio" class="form-box" value="女">  女
        </div>
      </div>
      <div class="operate-item fn-clear">
        <label>电话:</label>
        <div class="operate-group">
          <input required  type="text"  id="phoneNumber2" name="phoneNumber2" class="form-box" [rangeLength]="[8, 13]" [(ngModel)]="selectedUser.phoneNumber" #phoneNumber2="ngModel">
          <p [hidden]="phoneNumber2.pristine || phoneNumber2.valid"  class="text-danger">电话不能为空</p>
        </div>
      </div>

      <div class="operate-item fn-clear">
        <label>地址:</label>
        <div class="operate-group">
          <input required   type="text"  id="address2" name="address2" class="form-box"  [(ngModel)]="selectedUser.address" #address2="ngModel">
          <!--<p [hidden]="coding.pristine || coding.valid"  class="text-danger sbd">地址不能为空</p>-->
        </div>
      </div>


      <div class="operate-item fn-clear">
        <label class="unmust">备注:</label>
        <div class="operate-group">
          <textarea #remarks2  name="remarks2" id="remarks2" [(ngModel)]="selectedUser.remarks" class="form-box"></textarea>
        </div>
      </div>
      <div class="operate-btn">
        <button type="submit"     class="btns btn-blue">保存</button>
        <button (click)="deletemenu=false; clicked=false;" type="reset" class="btns btn-gray">取消</button>
      </div>
    </div>
  </form>
</div>
