<div id="searchBox"></div>
<div id="container" tabindex="0"></div>
<!--<div class="s-address">-->
  <!--检索地址：<input type="text" class="address" id="address" placeholder="望京SOHO"/>-->
  <!--<div  class="btn btn-blue seracch">go</div>-->
<!--</div>-->
<!--<div class="cur_point">-->
  <!--当前坐标：<span id="s-point"></span><br/>-->
  <!--当前检索城市：<span id="s-city"></span>-->
<!--</div>-->



<!--<div id="results" >-->

<!--</div>-->



<button class="quanping">全屏</button>
<button class="back">退出全屏</button>
<div id="result" >
  定位器在线人数：11人<br>
  志愿者在线人数：22人
  <video id="my-video" class="video-js vjs-default-ski vjs-big-play-centered" controls preload="auto" width="500" height="264"
         poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
    <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
    <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
    <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>

</div>


