<div id="searchBox"></div>
<div id="container" tabindex="0"></div>
<!--<div class="s-address">-->
  <!--检索地址：<input type="text" class="address" id="address" placeholder="望京SOHO"/>-->
  <!--<div  class="btn btn-blue seracch">go</div>-->
<!--</div>-->
<!--<div class="cur_point">-->
  <!--当前坐标：<span id="s-point"></span><br/>-->
  <!--当前检索城市：<span id="s-city"></span>-->
<!--</div>-->



<!--<div id="results" >-->

<!--</div>-->



<button class="quanping">全屏</button>
<button class="back">退出全屏</button>
<div id="result" >
  <i class="ak"></i>定位器人数：<span class="devicess"></span>人<br>
  <i class="ak2"></i>志愿者在线人数：<span class="volunters"></span>人<br>
  <i class="ak3"></i>正在报警<br>
  <i class="ak4"></i>正在救援
  <!--<video id="my-video" class="video-js vjs-default-ski vjs-big-play-centered" controls preload="auto" width="500" height="264"-->
         <!--poster="MY_VIDEO_POSTER.jpg" data-setup="{}">-->
    <!--<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">-->
    <!--<source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">-->
    <!--<source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">-->
    <!--<p class="vjs-no-js">-->
      <!--To view this video please enable JavaScript, and consider upgrading to a web browser that-->
      <!--<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>-->
    <!--</p>-->
  <!--</video>-->

</div>
<audio controls style="display: none">
  <source src="../../../assets/voice/alarm.mp3" type="audio/ogg">
  您的浏览器不支持 audio 元素，无法播放。
</audio>
<div class="panel">
  <h5>报警任务列表</h5>
  <ul>
    <!--<li><a href='javascript:;' class="+deviceIMEI+" id="2">刘大兵（未创建救援任务）</a></li>-->
    <!--<li><a href='javascript:;' class="+deviceIMEI+">刘大兵（刘大饼已接单），任务状态：SIM卡联系电话：13898966666，位置：西安市雁塔区</a></li>-->
    <!--<li><a href='javascript:;' class="+deviceIMEI+">刘大兵（任务已发布），任务状态：等待接单</a></li>-->
    <!--<li><a href='javascript:;' class="+deviceIMEI+">刘大兵（已指定刘大饼接单），任务状态：SIM卡联系电话：13898966666，位置：西安市雁塔区</a></li>-->
  </ul>
</div>

