<header class="fn-clear" [@fadeIn]>
  <h1>陕西省曙光应急救援协会易走失人群紧急救援管理系统</h1>
  <div class="switch">
    <span>模式切换：</span>
    <a  routerLink="menu/18"   href="javascript:;" [ngClass]="{'active':!clicke}" (click)="clicke=!clicke">查询模式</a>
    <i></i>
    <a  routerLink="monitor"  href="javascript:;" [ngClass]="{'active':clicke}" (click)="clicke=!clicke">监控模式</a>
  </div>
</header>


<div id="wrapper">
  <app-left-nav [url]='clicke' (change)="countChange($event)"></app-left-nav>
  <div  class="gray-bg dashbard-1 height100">
    <router-outlet></router-outlet>
  </div>
</div>


